@import '../../../theme.scss';

$ds-archive: mat-palette($mat-green, 600);

mat-cell, .mat-header-cell {
  word-wrap: break-word;
  white-space: normal;
}

.mat-column-select {
  overflow: visible; /* Needed to prevent offsetting of the checkbox when clicking */
  flex-grow: 0;
  padding-right: 2em;
}

.mat-column-size, .mat-column-type {
  flex-grow: 0.5;
}

.mat-column-pid, mat-column-sourceFolder {
  padding-right: 0.5em;
}

.mode-container {
  padding-left: 30px;
  text-align: center ;
}

.center-align {
  text-align: center;
}

.left-align {
  width: 100%;
  text-align: left !important;
}

.mat-row:hover {
  background-color: mat-color($primary, lighter);
  cursor: pointer;
}
